/* GLOBALS */
.container {
  width: 75vw;
  margin: 0 auto;
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- HEADER -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

header {
  background-color: #333333;
  margin-bottom: 60px;
}
header > .container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  color: white;
  font-weight: 700;
  font-size: 40px;
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- MAIN -------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
main > .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexbox {
  display: flex;
  flex-wrap: wrap;
  height: 1040px;
  width: 1040px;
  gap: 40px;
}
.item {
  width: 320px;
  height: 320px;
  position: relative;
  border: solid 10px;
}
.item:first-child,
.item:nth-child(6) {
  border-color: #e30413;
}
.item:nth-child(3),
.item:nth-child(8) {
  border-color: #ffee00;
}
.item:nth-child(2),
.item:nth-child(7) {
  border-color: #3ea535;
}
.item:nth-child(4),
.item:nth-child(9) {
  border-color: #039fe3;
}
.item:nth-child(5) {
  border-color: #f8c5af;
}
.item h2 {
  font-weight: 400;
  font-size: 30px;
  position: absolute;
  top: 18px;
  left: 17px;
  padding-right: 10px;
}
.item p {
  font-weight: 400;
  font-size: 18px;
  position: absolute;
  bottom: 18px;
  left: 17px;
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- FOOTER -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
footer {
  background-color: #dddddd;
  margin-top: 60px;
}
footer > .container {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer > .container p {
  font-size: 18px;
}
footer > .container a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- MEDIA-QUERIES ----------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
@media (max-width: 1400px) {
  main > .container {
    height: 900px;
    width: 900px;
  }
  .flexbox {
    height: 900px;
    width: 900px;
    gap: 30px;
  }
  .item {
    height: 280px;
    width: 280px;
  }
}
@media (max-width: 1024px) {
  main > .container {
    height: 810px;
    width: 810px;
  }
  .flexbox {
    height: 810px;
    width: 810px;
    gap: 30px;
  }
  .item {
    height: 250px;
    width: 250px;
  }
}
@media (max-width: 800px) {
  main > .container {
    width: 75vw;
    height: auto;
  }
  .flexbox {
    width: 75vw;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .item {
    height: 250px;
    width: 250px;
  }
}
